# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# MLflow
mlruns/

# DVC
/data
.dvc/cache
.dvc/tmp
.dvc/plots

# Airflow
airflow/logs/*
airflow/*.pid
airflow/*.err
airflow/*.out
airflow/*.log
airflow/airflow-webserver.pid

# Docker
.docker/

# Model artifacts
models/*.pkl
models/*.joblib

# Logs
*.log

# Environment variables
.env 