# Python
__pycache__/
*.py[cod]
venv/

# Data (but not .dvc files)
/data/**
!/data/**/*.dvc
!/data/**/metadata.json

# MLflow
mlruns/

# DVC
.dvc/cache
.dvc/tmp
.dvc/plots

# Airflow
airflow/logs/*
airflow/*.pid

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/